/* React Quill Editor Styles */
.editor :global(.ql-container) {
  border: 1px solid var(--color-border-week) !important;
  border-top: none !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  height: inherit !important;
  min-height: 200px;
}

.editor :global(.ql-editor) {
  min-height: inherit !important;
  max-height: inherit !important;
  overflow-y: auto !important;
}

.editor :global(.ql-toolbar) {
  border: 1px solid var(--color-border-week) !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  background: var(--color-background-dark-week) !important;
}
