/* Button styles */
.buttonRoot:not([data-variant='filled']):not([data-variant='light']):not([data-variant='outline']) {
  border: 1px solid var(--color-border-week) !important;
  background-color: transparent !important;
  color: var(--color-text-weak) !important;
}

.buttonRoot:not([data-variant='filled']):not([data-variant='light']):not(
    [data-variant='outline']
  ):hover {
  border: 1px solid var(--color-border-strong) !important;
  background-color: transparent !important;
}

.buttonRoot:disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

.buttonRoot:disabled:hover {
  border: 1px solid var(--color-border-week) !important;
}

.buttonRoot[data-with-left-section] {
  padding-inline-start: var(--button-padding-x) !important;
}

.buttonLabel {
  font-size: 13px !important;
}

.buttonRoot:not([data-variant='filled']):not([data-variant='light']):not([data-variant='outline'])
  .buttonLabel {
  color: var(--color-text-weak) !important;
}

.buttonLabel:disabled {
  opacity: 0.5 !important;
}

.buttonSection {
  font-size: 11px !important;
  margin-inline-end: 2px !important;
}

.buttonRoot:not([data-variant='filled']):not([data-variant='light']):not([data-variant='outline'])
  .buttonSection {
  color: var(--color-text-weak) !important;
}

/* Input styles */
.input {
  border: 1px solid var(--color-border-week) !important;
}

.input:hover {
  border: 1px solid var(--color-border-strong) !important;
}

.input:focus {
  border: 1px solid var(--color-border-strong) !important;
}

.input::placeholder {
  color: var(--mantine-color-placeholder) !important;
}

.input[data-error]::placeholder {
  color: var(--mantine-color-placeholder) !important;
}

/* ColorInput styles */
.colorInput {
  border: 1px solid var(--color-border-week) !important;
  background-color: var(--color-background-dark-week);
}

.colorInput:hover {
  border: 1px solid var(--color-border-strong) !important;
}

.colorInput:focus {
  border: 1px solid var(--color-border-strong) !important;
}

/* Dropzone styles */
.dropzoneRoot {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.dropzoneRoot[data-accept] {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-blue-6);
  padding-top: 20px;
}

.dropzoneRoot[data-reject] {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-red-6);
}

/* Checkbox styles */
.checkboxInput {
  border-radius: 4px;
}
.checkboxInput:checked {
  background-color: black !important;
  border-color: black !important;
}

.checkboxInput:hover {
  border: 1px solid var(--color-border-strong) !important;
}

/* Select styles */
.selectInput {
  border: 1px solid var(--color-border-week) !important;
}

.selectInput:hover {
  border: 1px solid var(--color-border-strong) !important;
}

.selectInput:focus {
  border: 1px solid var(--color-border-strong) !important;
}

/* Select borderless variant */
.selectInputBorderless {
  border: 1px solid transparent !important;
}

.selectInputBorderless:hover {
  border: 1px solid var(--color-border-strong) !important;
}

.selectInputBorderless:focus {
  border: 1px solid var(--color-border-strong) !important;
}

.tabsTab {
  border-bottom: 2px solid transparent !important;
}

.tabsTab:hover {
  background-color: transparent !important;
}

.tabsTab[data-active='true'] {
  border-bottom: 2px solid var(--color-border-strong) !important;
}
