/* Button styles */
.buttonRoot {
  border: 1px solid var(--color-border-week) !important;
  background-color: transparent !important;
  color: var(--color-text-weak) !important;
}

.buttonRoot:hover {
  border: 1px solid var(--color-border-strong) !important;
  background-color: transparent !important;
}

.buttonRoot:disabled {
  opacity: 0.6 !important;
  cursor: not-allowed !important;
}

.buttonRoot:disabled:hover {
  border: 1px solid var(--color-border-week) !important;
}

.buttonRoot[data-with-left-section] {
  padding-inline-start: var(--button-padding-x) !important;
}

.buttonLabel {
  font-size: 13px !important;
  color: var(--color-text-weak) !important;
}

.buttonLabel:disabled {
  opacity: 0.5 !important;
}

.buttonSection {
  font-size: 11px !important;
  color: var(--color-text-weak) !important;
  margin-inline-end: 2px !important;
}

/* Input styles */
.input {
  border: 1px solid var(--color-border-week) !important;
}

.input:hover {
  border: 1px solid var(--color-border-strong) !important;
}

.input:focus {
  border: 1px solid var(--color-border-strong) !important;
}

.input::placeholder {
  color: var(--mantine-color-placeholder) !important;
}

.input[data-error]::placeholder {
  color: var(--mantine-color-placeholder) !important;
}

/* ColorInput styles */
.colorInput {
  border: 1px solid var(--color-border-week) !important;
  background-color: var(--color-background-dark-week);
}

.colorInput:hover {
  border: 1px solid var(--color-border-strong) !important;
}

.colorInput:focus {
  border: 1px solid var(--color-border-strong) !important;
}

/* Dropzone styles */
.dropzoneRoot {
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.dropzoneRoot[data-accept] {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-blue-6);
}

.dropzoneRoot[data-reject] {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-red-6);
}
